@model IEnumerable<Booking_Doctors.Models.Doctor> 
<h1>Book Appointment</h1>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 mb-4">
        <div class="card">
            <img class="card-img" src="~/Images/@item.Img" style="width: 100%; height: auto;" alt="Doctor Image">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Specialization: @item.Specialization</p>
                <a href="#" class="btn btn-primary">Book Appointment</a>
            </div>
        </div>
    </div>
    }
</div>